@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add any additional global styles here */
@layer base {
    :root {
        --background: 195 35% 95%;
        --foreground: 193 76% 8%;
    
        --primary: 179 90% 11%;
        --primary-foreground: 0 0% 100%;
     
        --secondary: 176 46% 49%;
        --secondary-foreground: 0 0% 100%;
     
        --accent: 35 86% 69%;
        --accent-foreground: 193 76% 8%;
     
        --muted: 195 35% 85%;
        --muted-foreground: 193 76% 30%;
     
        --card: 195 35% 95%;
        --card-foreground: 193 76% 8%;
     
        --popover: 195 35% 95%;
        --popover-foreground: 193 76% 8%;
     
        --border: 195 35% 85%;
        --input: 195 35% 85%;
        
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 100%;
    
        --ring: 176 46% 49%;
        --header-height: 4rem;
        --radius: 0.5rem;
    }
   
    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;
   
      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;
   
      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;
   
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;
   
      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;
   
      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;
   
      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;
   
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;
   
      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
    .balanced-gradient {
      background: linear-gradient(
        to right,
        hsl(var(--gradient-1)) 0%,
        hsl(var(--gradient-2)) 25%,
        hsl(var(--gradient-3) / 0.8) 50%,
        hsl(var(--gradient-4)) 75%,
        hsl(var(--gradient-5)) 100%
      );
      height: 1px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
  }